certifi
cos-python-sdk-v5
django-mdeditor
django-redis
django-simple-captcha
django-ranged-response
emoji
faker
matplotlib
mysqlclient
pymysql
numpy
pillow
pycryptodome
qcloud-python-sts
qcloudsms-py
redis
requests
tqdm
