{% extends 'web/layout/manage.html' %}

{% load static %}
{% load project %}

{% block css %}
    <style>
        .table-right > tbody > tr > td.label-left {
            width: 90px;
        }

        .table-right > tbody > tr > td {
            border: 0;
        }

        .status-count {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 30px;
            font-size: 14px;
        }

        .status-count .count {
            font-size: 25px;
        }

        .status-count a {
            text-decoration: none;
        }

        .user-item .title {
            margin-bottom: 20px;
        }

        .user-item .avatar, .top-10 .avatar {
            float: left;
            margin-right: 10px;
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: #304659;
            color: white;
            text-align: center;
            line-height: 30px;
            border-radius: 50%;
        }

        .user-item .text {
            line-height: 30px;
        }

        .top-10 .avatar {
            margin-right: 0;
        }

        .top-10 td {
            padding: 5px 10px;
        }

        .top-10 .table > tbody > tr > td {
            border-top: 0;
            border-bottom: 1px solid #ddd;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
    <div class="container-fluid" style="margin-top: 20px">
    <div class="col-md-8">
             <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        新增问题趋势
                    </div>
                    <div class="panel-body">
                        <div id="chart" style="width:100%;min-height:200px"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-quora" aria-hidden="true"></i>
                                问题
                            </div>
                            <div class="panel-body">

                                {% for key,value in states_dict.items %}
                                    <div class="col-sm-4 status-count">
                                    <a href="{% url 'web:issues' project_id=request.tracer.project.id %}?status={{ key }}">
                                        <div class="status-count">{{ value.count }}</div>
                                        <div>{{ value.text }}</div>

                                    </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                项目成员
                            </div>
                            <div class="panel-body user-item">
                             <div class="col-sm-12 title">创建者</div>
                                <div class="clearfix">
                                    <div class="col-sm-4">
                                        <div class="avatar">{{ request.tracer.project.creator.username.0 | upper}}</div>
                                        <div>{{ request.tracer.project.creator.username }}</div>
                                    </div>

                                </div>
                            <hr/><div class="col-sm-12 title">参与者</div>
                            <div class="clearfix">
                            <div class="col-sm-4>">
                                {% for id,name in user_list %}
                                    <div class="avatar">{{ name.0|upper }}</div>
                                    <div class="text">{{name}}</div>
                                {% endfor %}

                            </div>

                            </div>
                            </div>
                        </div>
                    </div>
                </div>


    </div>

    <div class="col-md-4">
             <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-cog title-icon"></i>
                        详细
                    </div>
                    <div class="panel-body">
                        <table class="table table-right">
                    <tbody>
                    <tr>
                        <td class="label-left">项目名称:</td>
                        <td>{{ request.tracer.project.name }}</td>
                    </tr>
                     <tr>
                        <td class="label-left">项目描述:</td>
                        <td>{{ request.tracer.project.desc }}</td>
                    </tr>
                      <tr>
                        <td class="label-left">项目成员数:</td>
                        <td>{{ request.tracer.project.join_count }}</td>
                    </tr>
                      <tr>
                        <td class="label-left">创建时间:</td>
                        <td>{{ request.tracer.project.create_datetime }}</td>
                    </tr>
                      <tr>
                        <td class="label-left">项目空间:</td>
                        <td>{{ request.tracer.project.use_space | user_space }}
                            / {{ request.tracer.price_policy.project_space }}G
                        </td>
                    </tr>
                    </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-list-ul" aria-hidden="true"></i>
                        动态
                    </div>
                    <div class="panel-body top-10">
                        <table class="table">
                            <tbody>
                            {% for item in top_ten %}

                                <tr>
                                <td>
                            <div class="avatar">{{ item.creator.username.0 | upper }}</div>
                                </td>
                                <td>
                                    <div>{{ item.creator.username }}
                                    指派:
                                    <a href="{% url 'web:issues_detail' project_id=request.tracer.project.id detail_id=item.id%}">
                                        {{ item.subject }}
                                    </a>给 {{ item.assign.username }}
                                    </div>

                                </td>
                                <td>
                                    {{ item.create_datetime }}
                                </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
    </div>
    </div>
    </div>

{% endblock %}

{% block js %}
    
    <script>
            Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

    $(function () {
        Highcharts.setOptions({
            global:{
                useUTC:false
            }
        })

       initChart()
    })


    function initChart() {


             var config = {
                title: {
                    text: null   // 不显示标题
                },
                legend: {
                    enabled: false // 关闭图例提示
                },
                credits: {
                    enabled: false // 关闭版权信息
                },
                yAxis: {
                    title: {
                        text: '问题数量' // Y周文本提示
                    }
                },
                xAxis: {
                    type: 'datetime',
                    tickInterval: 60 * 60 * 24 * 1000,
                    labels: {
                        formatter: function () {
                            return Highcharts.dateFormat('%m-%d', this.value);
                        },
                        rotation: -30
                    }
                },
                tooltip: {
                    headerFormat: '<b>{point.key}</b><br>',
                    pointFormat: '<span style="color:{series.color}">\u25CF</span> 数量: {point.y} ',
                    xDateFormat: '%Y-%m-%d',
                },
                plotOptions: {
                    area: {
                        stacking: 'normal',
                        lineColor: '#666666',
                        lineWidth: 1,
                        marker: {
                            lineWidth: 1,
                            lineColor: '#666666'
                        }
                    }
                },
                series: [{
                    data: []
                }]
            };

        $.ajax(
            {
                url:'{% url "web:issues_chart" project_id=request.tracer.project.id%}',
                dataType:'JSON',
                type:"POST",
                success:function (res) {

                    var data=res.data;
                    console.log(data)
        {#            series: [{#}
		{#		name: '安装，实施人员',#}
		{#		data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]#}
{#		}]#}
                    config['series'][0]['data']=data;
                    var chart = Highcharts.chart('chart', config);

                }
            }
        )
    }
    
    </script>
{% endblock %}