{% extends "web/layout/manage.html" %}

{% block css %}
      <style>
        .project {
            margin-top: 10px;
        }

        .panel-body {
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .panel-body > .item {
            border-radius: 6px;
            width: 228px;
            border: 1px solid #dddddd;
            margin: 20px 10px;

        }

        .panel-body > .item:hover {
            border: 1px solid #f0ad4e;
        }

        .panel-body > .item > .title {
            height: 104px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            font-size: 15px;
            text-decoration: none;
        }

        .panel-body > .item > .info {
            padding: 10px 10px;

            display: flex;
            justify-content: space-between;

            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            color: #8c8c8c;

        }

        .panel-body > .item > .info a {
            text-decoration: none;
        }

        .panel-body > .item > .info .fa-star {
            font-size: 18px;
        }

        .color-radio label {
            margin-left: 0;
            padding-left: 0;
        }

        .color-radio input[type="radio"] {
            display: none;
        }

        .color-radio input[type="radio"] + .cycle {
            display: inline-block;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            border: 2px solid #dddddd;
        }

        .color-radio input[type="radio"]:checked + .cycle {
            border: 2px solid black;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container-fluid project" style="margin: 10px">
    <a class="btn btn-primary" data-toggle="modal" data-target="#addModal">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        新建项目
    </a>

    </div>


    <div class="panel panel-warning">
        <div class="panel-heading"><i class="fa fa-star" aria-hidden="true"></i> 项目
        </div>
        <div class="panel-body">

              {% for item in project_dict.star %}

                    <div class="item">
                        <a href="{% url 'web:dashboard' project_id=item.value.id %}" class="title"
                           style="background-color: {{ item.value.get_color_display }};">{{ item.value.name }}</a>
                        <div class="warning" >
                            <div style="float: left">
                                <a href="{% url 'web:project.project_unstar' project_type=item.type project_id=item.value.id %}">
                                    <i class="fa fa-star" aria-hidden="true" style="color: #f0ad4e;"></i>
                                </a>
                                <span>{{ item.value.creator.username }}</span>
                            </div>
                            <div style="float: right">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                <span>{{ item.value.join_count }}</span>
                            </div>
                        </div>
                    </div>
      {% endfor %}
  </div>
</div>
        <div class="panel panel-primary">
  <div class="panel-heading"><i class="glyphicon glyphicon-list" aria-hidden="true"></i> 我的项目</div>
  <div class="panel-body">
         {% for item in project_dict.my %}

                <div class="item">
                        <a href="{% url 'web:dashboard' project_id=item.value.id %}" class="title"
                           style="background-color: {{ item.value.get_color_display }};">{{ item.value.name }}</a>
                        <div class="primary">
                            <div style="float: left" >
                                <a href="{% url 'web:project.project_star' project_type='my' project_id=item.value.id %}">
                                    <i class="fa fa-star" aria-hidden="true" style="color:rgba(222,221,221,0.8);"></i>
                                </a>
                                <span>{{ item.value.creator.username }}</span>
                            </div>
                            <div style="float: right">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                <span>{{ item.value.join_count }}</span>
                            </div>
                        </div>
                    </div>
      {% endfor %}
  </div>
</div>

        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-handshake-o"></i>我参加的项目</div>
  <div class="panel-body">
     {% for item in project_dict.join %}
        <div class="item">
                        <a href="{% url 'web:dashboard' project_id=item.value.id %}" class="title"
                           style="background-color: {{ item.value.get_color_display }};">{{ item.value.name }}</a>
                        <div class="info">
                            <div style="float: left">
                                <a href="{% url 'web:project.project_star' project_type='join' project_id=item.value.id %}">
                                    <i class="fa fa-star" aria-hidden="true" style="color:'color:rgba(222,221,221,0.8);'"></i>
                                </a>
                                <span>{{ item.value.creator.username }}</span>
                            </div>
                            <div style="float: right">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                <span>{{ item.value.join_count }}</span>
                            </div>
                        </div>
                    </div>
      {% endfor %}
  </div>
</div>







    <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">新建项目</h4>
      </div>
      <div class="modal-body">
          <form id="projectform">
          {% csrf_token %}
              {%  for field in form %}

  <div class="form-group">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.name == "color" %}
                <div class="color-buttons" style="display:inline;">
          {% for radio in field %}
              <div style="background-color: {{ radio.choice_label }};border-radius: 50%; display:inline-block;width: 30px;height: 30px;margin-left: 10px">
{#              <input type="radio" name="{{ field.name }}" value="{{ radio.choice_label }}" style="opacity: 0.2; margin: 0 auto;width: 30px;height: 30px" >#}
              <input type="radio" name="{{ field.name }}" value="{{ radio.data.value }}"  style="opacity: 0.2; margin: 0 auto;width: 30px;height: 30px" >

              </div>
                {% endfor %}
                </div>
                {% else %}
                 {{ field }}

            {% endif %}

  <span class="error-msg"></span>
  </div>
{% endfor %}


</form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnsubmit">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}

{%  block js %}
    <script>
    $(function () {
        bindprojectSubmit();
        binradioColor()
    })
    function bindprojectSubmit() {

            $("#btnsubmit").click(function () {

                $('.error-msg').empty();

                $.ajax({
                    url:"{% url 'web:project.project_list' %}",
                    type:"POST",
                    dataType:"JSON",
                    data:$("#projectform").serialize(),
                    success:function (res) {
                     if(res.status){
                         location.reload();
                              $("input").val("")
                     }
                     else {
                         console.log("new_project_create_fail");
                         $.each(res.error, function(key, value) {
                        $("#id_" + key).next().text(value[0]);
                    });

                     };
                     }
                })
            })
    }

    function binradioColor(){
      var colorButtons = document.querySelectorAll('.color-buttons input[type="radio"]');

    // 遍历所有颜色按钮并为它们添加点击事件监听器
    colorButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            // 获取用户选择的颜色值

            var selectedColor = this.parentNode.style.backgroundColor;
            console.log(selectedColor)
            var module = document.querySelector('.modal-content');
            module.style.backgroundColor = selectedColor;
            module.style.opacity=1;
        });
    });}


    </script>

{%  endblock %}