{% extends 'web/layout/manage.html' %}


{% block content %}
    <div class="container clearfix" style="margin-top: 20px;">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:transparent;font-weight: bold;">
                    个人中心
                </div>
                <div class="list-group" style="border-radius: 0">
                    <div>
                        <a href="#" class="list-group-item">我的资料</a>
                        <a href="#" class="list-group-item">修改密码</a>
                        <a href="{% url 'web:setting_delete'  project_id=request.tracer.project.id %}"
                           class="list-group-item">删除项目</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-address-card-o" aria-hidden="true"></i> 我的资料</div>
                <div class="panel-body">
                    <h4 style="text-align: center;">系统设置</h4>
                </div>
            </div>

        </div>
    </div>
{% endblock %}